<section>
  <div class="slider">
    <div #sliderImages class="slider-images">
      <div class="img"><img src="../../../assets/images/img1.jpg" alt="" /></div>
    </div>

    <div class="slider-title">
      <div #titles class="slider-title-wrapper">
        <p>The Revival Ensemble</p>
      </div>
    </div>

    <div #indicatorsButton class="slider-indicators">
    </div>
  </div>
</section>

<!-- ========== Gallery Section start Here========== -->
<div class="row">
  <div class="col-md-3 mt-5">
    <div class="processor p-2">
      <div class="heading d-flex justify-content-between align-items-center">
        <h6 class="text-uppercase">CATEGORY</h6>
        <span>
        </span>
      </div>
      <div class="d-flex justify-content-between mt-2" *ngFor="let category of categories | keyvalue">
        <div class="form-check">
          <input class="form-check-input" (change)="filter()" [(ngModel)]="category.value.isSelected" type="checkbox" value="" id="flexCheckDefault"> <label
            class="form-check-label" for="flexCheckDefault"> {{ category.key }} </label> </div> <span>{{ category.value.count }}</span>
      </div>
     
  </div>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="card text-center h-100 col-md-3" *ngFor="let product of products">
        <div class="position-relative">
          <img class="card-img-top" [src]="product.imageUrl" alt="Image Description">

          <div class="card-body pt-4 px-4 pb-0">
            <div class="mb-2">
              <a class="d-inline-block text-secondary small font-weight-medium mb-1" href="#">Accessories</a>
              <h3 class="font-size-1 font-weight-normal">
                <a class="text-secondary" href="#">{{ product.title }}</a>
              </h3>
              <div class="d-block font-size-1">
                <span class="font-weight-medium">${{ product.listPrice }}</span>
              </div>
            </div>
          </div>

          <div class="card-footer border-0 pt-0 pb-4 px-4">
            <button type="button" (click)="addToCart(product.id)"
              class="btn btn-sm btn-outline-primary btn-sm-wide btn-pill transition-3d-hover">Add to
              Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>